<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p> -->
<div class="container">
  <p> Question: <%= @question %> </p>
  <p> Answer: <%= @answer %> </p>
  <div class="link"><%= link_to "Ask Another Question", "/ask" %></div>
</div>

<!-- <a href="/ask">Ask another question</a> -->

