<!-- <h1>Questions#ask</h1> -->
<div class="container">
  <h2> Stupid Coaching </h2>
  <!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
  <p> Ask your Coach anything </p>
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="Talk to your coach">
    <input class='btn' type="submit">
  </form>
</div>

